html {
  font-size: 1.15em;
  line-height: 1.4;
  height: 100%;
}

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#111111, #fff);
  background-color: light-dark(#fff, #223a2c);
}

#package {
  text-align: center;
  margin-top: 24px;
  align-content: center;
  font-size: 12em;
  cursor: pointer;
  animation: bounce 3s ease;
  animation-iteration-count: 5;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
}

div:has(> blockquote) {
  color: light-dark(#222, #fff);
  background-color: light-dark(#ededed, #223a2c);
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

blockquote+p {
  text-align: right;
}

nav.header {
  margin: 0 auto;
  background: #005a9c;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: 1em;
  align-items: center;
  text-align: left;
  padding-inline: 20px;
  min-height: 0%;
}

nav a, nav a:hover {
  color: white;
}

.back-side, .forward-side {
  font-size: 3em;
}

aside {
  padding-inline: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

aside > * {
  width: 100%;
}

summary {
  cursor: pointer;
}

aside>details>summary {
  background: #005a9c;
  color: #fff;
}

a {
  font-size: 1.15em;
  color: light-dark(#005a9c, #fff);
}

a:hover {
  color: light-dark(#024488, #fff);
}

.tag {
  margin: 0px;
  font-size: medium;
  margin-right: 10px;
}

.tagline {
  margin-bottom: 0px;
}

.taglist {
  max-width: 100%;
}

code {
  border-radius: 3px;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  padding: 0 3px;
}

.fancy-url {
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  /* --bg-h: 100%; */
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.fancy-url:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.fancy-url {
  padding-bottom: 2px;
  --bg-h: 2px;
  font-size: 1.5em;
}

details {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  font-size: 1.2em;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

h1,
h2 {
  font-size: 1.4em;
  margin-top: 16px;
  margin-bottom: 16px;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}

.section {
  gap: 8px;
  margin-top: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 15vh;
}

@media only screen and (max-width: 450px) {
  .section {
    flex-direction: column;
  }
}

output {
  padding-top: 24px;
  max-width: 840px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

output>p,
output>a,
output>h2 {
  font-size: 1.5em;
}

main {
  padding-inline: 8px;
  display: flex;
  justify-content: center;
}

.extended {
  min-height: 1000px;
}

.button {
  --button-bg: #342a21;
  --button-color: #ffffff;
  --button-hover-bg: #4b4b4a;
  --button-hover-color: #ffffff;
  --button-border-width: 3px;
  --button-border-style: solid;
  --button-border-color: var(--button-bg);
  --button-radius: 0.5em;

  display: inline-flex;
  align-items: center;
  gap: var(--button-gap, 0.5em);
  padding: var(--button-padding, 0.7em 1.2em);

  background: var(--button-bg);
  color: var(--button-color);

  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);

  text-decoration: none;
  font-weight: var(--button-font-weight, 700);
  font-size: var(--button-font-size, 1.5em);
  letter-spacing: 0.05ch;
  font-family: sans-serif;
  line-height: 1.1;
  /* Set or buttons will be different sizes (<a>/<button>) */

  cursor: pointer;
}

.button svg {
  height: var(--button-icon-size, 1.2cap);
  width: auto;
  flex: none;
}

/* Hover/focus/active */
.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
}

.button:focus {
  outline-width: var(--button-outline-width, var(--button-border-width));
  outline-style: var(--button-outline-style, var(--button-border-style));
  outline-color: var(--button-outline-color, var(--button-border-color));
  outline-offset: var(--button-outline-offset,
      calc(var(--button-border-width) * 2));
}

.button:active {
  transform: scale(.95);
}

/* Variants */
.button[data-button-variant="primary"] {
  --button-bg: #005a9c;
  --button-color: #ffffff;
  --button-border-color: currentColor;
  --button-hover-bg: #043f6a;
  --button-hover-color: #d7e5d8;
  --button-outline-color: #150202;
  --button-font-size: 1em;
  margin: 2px;
}

.button[data-button-variant="main"] {
  --button-bg: #f9dc4a;
  --button-color: #342a21;
  --button-border-color: currentColor;
  --button-hover-bg: #f1d979;
  --button-hover-color: #342a21;
  --button-font-size: 2em;
}

.button[data-button-variant="positive"] {
  --button-bg: #2d936c;
  --button-border-color: #107350;
  --button-hover-bg: #359d75;
  --button-font-size: 20px;
  margin: 4px;
}

/* Radius variants */
.button[data-button-radius="hard"] {
  --button-radius: 0;
}

.cluster {
  padding-left: 0px;
  --cluster-row-gap: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: var(--cluster-direction, row);
  flex-wrap: var(--cluster-wrap, wrap);
  column-gap: var(--cluster-column-gap, var(--gutter, var(--space-s-m)));
  row-gap: var(--cluster-row-gap, var(--gutter, var(--space-s-m)));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}

.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}